# Copie este arquivo para .env e preencha os valores
# cp .env.example .env

# Django
SECRET_KEY=sua-chave-secreta-longa-e-aleatoria-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL
POSTGRES_DB=shopbr
POSTGRES_USER=shopbr_user
POSTGRES_PASSWORD=shopbr_pass
DATABASE_URL=postgres://shopbr_user:shopbr_pass@db:5432/shopbr
